| Olá #{name}
| Você está recebendo esse email, para recuperar sua senha do seu usuário no CodeLab.
| Para redefinir sua senha, clique no link abaixo, e cole no seu navegador de internet.
| #{link}
| Atenção, link válido por 24 horas.